html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

button {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #1B1310;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px 15px;
  max-width: 1030px;
}

.header__logo {
  width: 130px;
  color: #fff;
  font-size: 2.6rem;
}

.header__btn {
  width: 32px;
  height: 25px;
  display: block;
  z-index: 500;
  background: none;
}

.header__btn span {
  position: relative;
  display: block;
  height: 2px;
  background: #fff;
  transition: all .3s;
}

.header__btn span::before, .header__btn span::after {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all .3s;
}

.header__btn span::before {
  top: -8px;
}

.header__btn span::after {
  bottom: -8px;
}

@media (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.header__gnav {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -100%;
  transition: all .5s;
  background-color: #1B1310;
}

@media (min-width: 768px) {
  .header__gnav {
    margin-top: 0;
    width: auto;
    height: auto;
    position: static;
  }
}

.header__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__list a {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .header__list {
    display: flex;
    position: static;
    transform: inherit;
  }
  .header__list a {
    margin-left: 55px;
    margin-bottom: 0;
  }
}

.is-openMenu .header__btn span {
  background: transparent;
}

.is-openMenu .header__btn span::before {
  top: 0;
  transform: rotate(45deg);
}

.is-openMenu .header__btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

.is-openMenu .header__gnav {
  right: 0%;
}

.mainContent__cat {
  max-width: 1030px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 160px;
}

.mainContent__title {
  font-size: 3.6rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 77px;
}

.mainContent__subtitle {
  font-size: 2rem;
  line-height: 2;
  margin-bottom: 34px;
}

@media (min-width: 768px) {
  .mainContent__subtitle {
    font-size: 2.4rem;
  }
}

.mainKv {
  background: url(../img/fv-bgi-sp.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 110px;
}

.mainKv__title {
  color: #fff;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .mainKv__title {
    font-size: 5rem;
  }
}

@media (min-width: 768px) {
  .mainKv {
    background-image: url(../img/fv-bgi-pc.jpg);
  }
}

.about__description {
  font-size: 1.4rem;
  line-height: 2.142;
}

.service__item {
  width: 100%;
}

@media (min-width: 768px) {
  .service__item {
    display: flex;
    justify-content: space-between;
  }
}

.service__item:first-child {
  margin-bottom: 55px;
}

@media (min-width: 768px) {
  .service__item:first-child {
    flex-direction: row-reverse;
  }
}

.service__text {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .service__text {
    width: 46.60%;
    height: 100%;
  }
}

.service__description {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.142;
}

@media (min-width: 768px) {
  .service__img {
    width: 46.60%;
  }
  .service__img img {
    height: 100%;
    object-fit: cover;
  }
}

.news.mainContent__cat {
  padding-right: 27px;
  padding-left: 27px;
}

@media (min-width: 768px) {
  .news__cat {
    display: flex;
    justify-content: space-between;
  }
}

.news__item {
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.news__item img {
  object-fit: cover;
}

@media (min-width: 768px) {
  .news__item {
    width: 31.06%;
  }
}

.news__img.item1 {
  background: url(../img/card-image1.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 50%;
}

.news__img.item2 {
  background: url(../img/card-image2.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 50%;
}

.news__img.item3 {
  background: url(../img/card-image3.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 56.25%;
}

.news__item:not(:last-child) {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .news__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.news__text {
  font-size: 1.3rem;
  padding: 26px 32px;
  line-height: 1.923;
  font-family: Hiragino Kaku Gothic ProN;
}

.contact.mainContent__cat {
  margin-bottom: 50px;
}

.contact__item:not(:last-child) {
  margin-bottom: 25px;
}

.contact__label {
  font-size: 1.6rem;
  margin-bottom: 5px;
  display: block;
  font-family: Hiragino Kaku Gothic ProN;
}

.contact input {
  width: 100%;
  height: 30px;
  border: 1px solid #141414;
}

.contact textarea {
  width: 100%;
  height: 171px;
  margin-bottom: 50px;
}

.contact__btn {
  display: block;
  width: 235px;
  border: 1px solid #707070;
  background-color: #1B1310;
  padding: 20px;
  border-radius: 51px;
  color: #fff;
  font-size: 2rem;
  font-family: Avenir;
  line-height: 1.5;
  margin: 0 auto;
  font-weight: bold;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.footer {
  font-size: 1.4rem;
  background-color: #1B1310;
  color: #fff;
  padding: 25px;
  text-align: center;
}
